body {
    background-image: url(https://th.bing.com/th/id/OIP.sMj5U7fD_0khu0ji0uU5mgHaEo?w=280&h=180&c=7&r=0&o=5&dpr=1.8&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: aliceblue;
}

.background {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
}

.chatroom {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.sorry {
    font-size: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.show {
    width: 80%;
    height: 80%;
    height: 350px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 4, 84, 0.752);
    opacity: 0.7;
}

.input-text {
    width: 80%;
    height: 10%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.797);
    opacity: 0.9;
}

input[type="text"] {
    width: 60%;
    height: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"] {
    width: 10%;
    min-width: 80px;
    height: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.message {
    margin-left: 15px;
    margin-top: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.message-information {
    margin-left: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

select {
    width: 10%;
    min-width: 100px;
    height: 70%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.user-selection {
    width: 90%;
}

.server-message {
    margin-left: 15px;
    margin-top: 0;
    color: turquoise;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}